/* .well{
    display: flex;
    justify-content: space-between;
 
} */
 .link{
    text-decoration: none;
    list-style: none;
    
 }

 
 /* .logo{

 } */
 /* .div{
    display: flex;
    gap: 2rem;
 } */